* {
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.box {
    position: absolute;
    background: url('../images/woman.jpg');
    background-attachment: fixed;
    background-size: cover;
}