*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #555;
    font-family: sans-serif;
    font-size: 18px;
    background-color: seashell;
}
.white-space{
    height: 500px;
}
.container{
    padding: 30px;
    background-color: white;
    width:1300px;
    margin: 40px auto;

}
.first-container{
    display: flex;
}
.main{
flex: 3;
order: 2;
}
.sidebar-1{
flex: 1;
order: 1;
}

.sidebar-2{
  flex: 1;
  order: 3;  
}
.second-container{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.child {
    color: white; 
    padding: 30px;
    width: 30%; 
}
.child-1{
    background-color: tomato;
}
.child-2{
    background-color: rgb(71, 255, 117);
}
.child-3{
    background-color: rgb(156, 226, 26);
}

.third-container{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}
.item{
    font-size: 25px;
    color: white;
    background-color:rebeccapurple;
    width: 150px;
    height: 100px;
    text-align: center;
    margin-bottom: 10px;
}
.foth-container{
    background-color: #555;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
   
}
.text{
    color: white;
    font-size: 30px;
    margin: auto;
}
.fifth-container{
    width: 1000px;
    margin: 0 auto;
    display: flex
    
    ;
}
.fist-col{
    padding: 10px;
    flex: 1;
}
.second-col{
    background-color: yellow;
    flex: 1;
    display: flex;
    flex-direction: column;
   
}
.one{
    background-color: tomato;
    flex: 1;
}
.two{
    background-color: turquoise;
    flex: 1;
}