.container{
    display: grid;
    grid-auto-rows: minmax(200px,auto);
    grid-template-areas:
     "head head head head head"
     "sideleft sideleft nav nav nav"
     "sideleft sideleft content content content"
     "sideleft sideleft content content content"
     "sideleft sideleft content content content"
     "footer footer footer footer footer";
    grid-gap: 10px;
}


.box{
    background: gray;
    color: honeydew;
    text-align: center;
}
.head{
    grid-area:head ;
    display: grid;
    grid-template-columns: repeat(1);
    grid-gap: 10px;
}

.nav{
    grid-area:nav ;
}
.sideleft{
    grid-area: sideleft;
}

.content{
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
}
.footer{
    grid-area: footer;
}
p{
  background: red;  
}
