*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300;
    color: #555;
}
/*    header*/
.container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 100px;
    
}
.image1{
    width:100px ;
    height: 40px;
    margin:0 60px;
}
.nav a{
    
    margin-right: 40PX;
    color: #555;
    text-decoration: none;
    text-align: center;
}
.link:hover{
    text-decoration: none;
    color: rgb(248, 71, 7);
   

}
.icon ion-icon {
 padding-right: 40px;
 margin-left: 40px;
}
.icon ion-icon:hover{
    color: rgb(248, 71, 7); 
}
/*SECTION */

.time{
    display: flex;
   background-color: rgba(218, 216, 216, 0.959);
   width: 100%;
   height: 500px;
   
}
.image2{
    height: 500px;
    width: 400px;
   
}
h1{
    font-size: 40px;
    font-weight: 800;
    font-family: cursive;
    padding:50px  0 ;
}
.text{
    font-size: 17px;
    line-height: 1.6;
    font-weight: 400;
    margin-left: 100px;

   
}

.btn1{
    background-color: rgb(73, 68, 68);
    color: white;
    text-decoration: none;
    padding: 15px;
    position: relative;
    margin-top: 100px;
  
}

.btn1:hover{
    border:rgb(248, 71, 7) ;
    color: white;
}
.text1{
    font-size: 40px;
    font-weight: 800;
    font-family: cursive;
    padding:50px  0 ;
}
.gallary{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.gallary1,.gallary2,.gallary3,{
  
    width: 100%;
    height: 400px;
    margin-left: 80px;
}
.image3{
    width: 90%;
    height: 400px;  
}
.clock{
    font-family: cursive;
    text-align: center;
    margin-bottom: 20px;
}
.price{
    color: rgb(248, 71, 7);
    text-align: center;
   
}

.text2{
    font-size: 40px;
    font-weight: 800;
    font-family: cursive;
    padding:50px  0 ;
    text-align: center; 
}
.text3{
    text-align: center;
    margin-bottom: 50px;
}

.gallary time{
    display: flex;
justify-content: space-around;
margin-bottom: 50px;
}
.image4{
    width: 90%;
    height: 400px; 
    border-bottom:5px solid rgb(248, 71, 7); 
}
.gallar{
    display: flex;
justify-content: space-around;
margin-bottom: 50px;
}
.btn2{
    color: white;
    background-color: rgb(248, 71, 7);
     margin: 100px 600px;
    padding: 5PX  80PX;
  
}
.show{
    display: flex;
    margin: 50px auto;
}
.image5{
    width: 70%;
    height: 400px;
   order: 2;
   margin-right: 50px;
}
.text4{
    font-size: 40px;
    font-weight: 800;
    font-family: cursive;
    padding:50px  0 ;
    order: 2;
    margin-left: 100px;
}
.btn3{
    background-color: rgb(248, 71, 7) ;
    color: white;
    padding: 8PX  60PX ;
    text-decoration: none;
    order: 2;
    margin-left: 100px;
}

.image6{
    width: 70%;
    height: 400px;
     
   margin-right: 50px;
}