@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
header{
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #130e23;
    color: aqua;
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
   
    text-transform: uppercase;
    
}


header div:nth-child(1){
    top:60%;
    left:20%;
    border:1px solid aqua ;
    width: 140px;
    height: 140px;
    animation: animate 19s ;
    animation-delay: 0s;
}
header div:nth-child(2){
    top:40%;
    left:40%;
    width: 40px;
    height: 40px;
    background: aqua;
    border:1px solid #130e23 ;
    animation: animate 19s ;
    animation-delay: 0s;
}
header div:nth-child(3){
   
    left:60%;
    width: 200px;
    height: 200px;
    border:1px solid aqua ;
    animation: animate 19s ;
    animation-delay: 0s;
}


header div:nth-child(4){
    top:20%;
    left:80%;
    width: 40px;
    height: 40px;
    background: aqua;
    border:1px solid #130e23 ;
    animation: animate 19s ;
    animation-delay: 0s;
}
header div:nth-child(5){
    top:20%;
    left:80%;
    width: 240px;
    height: 240px;
    border:1px solid aqua ;
    animation: animate 19s ;
    animation-delay: 0s;
}
header div:nth-child(6){
    top:20%;
    left:80%;
    width: 40px;
    height: 40px;
    background: aqua;
    border:1px solid #130e23 ;
    animation: animate 19s ;
    animation-delay: 0s;
}
header div:nth-child(7){
    top:20%;
    left:80%;
    width: 260px;
    height: 260px;
    border:1px solid aqua ;
    animation: animate 19s ;
    animation-delay: 0s;
   
}
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #130e23;
}
.text{
   position: relative; 
   text-align: center;
   color: #00cefe;
   margin: 40px;
   max-width: 650px;
   transform: rotate(-360,360);
 
}
@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 50%;
    }
    0%{
        transform:scale(4.5) translateY(-88) rotate(360deg);
        opacity: 0;
      
    }
}


